<header>
    <link rel="stylesheet" href="./stylesheets/forum.css">
</header>

<div>
    <div class="titre">
        <h1>BIENVENUE SUR LA LISTE DES FORUMS</h1>
    </div>

    <div class="forumTech">
        <a title="FORUM TECH" href="./forumTech">FORUM TECH</a>
        <p>Vous cherchez une pièce détaché, un vieil ordinateur, appareil photo, ou baladeur cassette ou au contraire
            les
            dernières inovations ?<br />
            C'est ici que ca se passe ! </p>
    </div>

    <div class="CT">
        <button class="button">
            <a title="CreateThreads" href="./createThreads">CREATE A TECH THREADS</a>
        </button>
    </div>

    <div class="forumManga">
        <a title="FORUM MANGA" href="./forumMANGA">FORUM MANGA</a>
        <p>Vous cherchez une manga collector, un anime, une figurine de vos personnages préférés ou au contraire
            vous
            voulez
            découvrir de nouveaux mangaka ? <br />
            C'est ici que ca se passe ! </p>
    </div>

    <div class="CT">
        <button class="button">
            <a title="CreateThreads" href="./createThreads">CREATE A MANGA THREADS</a>
        </button>
    </div>

    <div class="forumGeek">
        <a title="FORUM GEEK" href="./forumGEEK">FORUM GEEK</a>
        <p>Vous cherchez un Jeu vidéo, une série télé, une grande saga fantasy ou tous ce qui en est dérivé ?<br />
            C'est ici que ca se passe !</p>
    </div>

    <div class="CT">
        <button class="button">
            <a title="CreateThreads" href="./createThreads">CREATE A GEEK THREADS</a>
        </button>
    </div>

    </body>