<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>DIOGENE</title>
  <link rel="stylesheet" href="./stylesheets/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>



  <div class="corps">
    <img class="colonne" src="http://www.clker.com/cliparts/w/Z/o/5/k/X/column-hi.png" height="350px" id="left">
    <div class="texte">
      <p class="bienvenue" style="font-size:64px"><u>BIENVENUE SUR DIOGENE !</u></p>
      <br>
      <h4 class="plateforme" style="font-size:48px">La plateforme de mise en relation des collectionneurs</h4>
      <br>
      <h4 class="GTM" style="font-size:56px"><u>GEEK - TECH - MANGA</u></h4>
    </div>
  </div>
  {{{body}}}
</body>