<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./stylesheets/Please.css">
</head>

<body>
  <div class="espace">
    <h5 class="identifier">Veuillez vous identifier pour accéder à votre profil utilisateur.</h5>
    <div class="login">
      <a href="/login">LOGIN PAGE</a>
    </div>
  </div>
  {{{body}}}
</body>