<header>
    <nav>Logo + Emplacement barre de recherche + login + langue</nav>
</header>
<body>
<h1>Research Results Page</h1>

<pre>Page montrant les resultats d’une recherche sur les forums du site et affichant les liens vers les threads de discussions.

C$$: DA générale du site.</pre>

</body>
