<header>
    <nav>Logo + Emplacement barre de recherche + login + langue</nav>
</header>
<body>
<h1>Pour démarer le TCHAT, cliquez sur le bouton ci dessous,</br> puis entrez votre pseudo dans la fenetre pop-up
vous pourrez alors parler avec tous les autres membres connectés</h1>
<h3>A venir, les TCHAT privés et les possibilités de configurations (alpha)</h3>


</body>
